.course-logo {
  height: 100px;
  width: 100px;
}

.photo {
  height: 250px;
  width: 250px;
}

body {
  max-width: 1080px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(111, 131, 194);
  padding: 15px;
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav-wrapper  ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.link a {
  color: white;
}

h1 {
  font-size: 56px;
  color: white;
}

h3 {
  font-size: 38px;
  color: white;
}

.name-container {
  padding-left: 72px;
}

main h2 {
  color: rgb(66, 66, 66);
  font-size: 30px;
}

main p {
  color: rgb(104, 104, 104);
  font-size: 22px;
}

main ul li {
  color: rgb(104, 104, 104);
  font-size: 22px;
}

main ul li a {
  color: rgb(104, 104, 104);
  font-size: 22px;
  font-weight: bold;
}

footer h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: rgb(111, 131, 194);
}

.contact-info-container{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.contact-info-container nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
